extend ../layout/index

block head 
    link(href='/asset/vendor/datatables/dataTables.bootstrap4.min.css', rel='stylesheet')

block container 
  // Page Heading
  h1.h3.mb-2.text-gray-800 DANH SÁCH ĐÀI
  // DataTales Example
  .card.shadow.mb-4
    .card-header.py-3
      a.m-0.font-weight-bold.text-primary(href='dai/them-moi') Thêm đài mới
    .card-body
      .table-responsive
        table#dataTable.table.table-bordered(width='100%', cellspacing='0')
          thead
            tr
              th STT
              th Đài
              th Miền
              
          tbody
            each dai, index in dais
              tr
                td= index + 1
                td= dai.ten
                td= dai.mien.ten
             
            
block script 
    script(src='/asset/vendor/datatables/jquery.dataTables.min.js')
    script(src='/asset/vendor/datatables/dataTables.bootstrap4.min.js')
    // Page level custom scripts
    script(src='/asset/js/demo/datatables-demo.js')
    console.log("123")
    alert("123")
